- name: mkdir /tmp/cert-manager
  file:
    path: /tmp/cert-manager
    state: directory

- name: create manifest - cert-manager ns
  template:
    src: templates/cert-manager-ns.yaml.j2
    dest: /tmp/cert-manager/cert-manager-ns.yaml

- name: apply cert-manager ns/crds
  shell: |
    {{ bin_dir }}kubectl apply -f /tmp/cert-manager/cert-manager-ns.yaml
    {{ bin_dir }}kubectl apply -f https://github.com/cert-manager/cert-manager/releases/download/v1.9.1/cert-manager.yaml

- name: create manifest letsencrypt issuer
  template:
    src: templates/letsencrypt-prod-issuer.yaml.j2
    dest: /tmp/cert-manager/letsencrypt-prod-issuer.yaml

- name: create manifest letsencrypt ingress nginx
  template:
    src: templates/letsencrypt-prod-ingress-nginx.yaml.j2
    dest: /tmp/cert-manager/letsencrypt-prod-ingress-nginx.yaml

- name: apply letsencrypt
  shell: |
    {{ bin_dir }}kubectl apply -f /tmp/cert-manager/letsencrypt-prod-issuer.yaml
    {{ bin_dir }}kubectl apply -f /tmp/cert-manager/letsencrypt-prod-ingress-nginx.yaml