- name: configure kube-proxy mode
  shell: | 
    {{ bin_dir }}kubectl -nkube-system get configmap kube-proxy -oyaml | \
    sed -e "s/strictARP: false/strictARP: true/" | \
    {{ bin_dir }}kubectl apply -f - -n kube-system

- name: install metallb
  shell: |
    {{ bin_dir }}kubectl apply -f https://raw.githubusercontent.com/metallb/metallb/v0.13.5/config/manifests/metallb-native.yaml

- name: mkdir /tmp/metallb
  file:
    path: /tmp/metallb
    state: directory

- name: create first-pool-ipaddresspool.yaml
  template:
    src: templates/first-pool-ipaddresspool.yaml.j2
    dest: /tmp/metallb/first-pool-ipaddresspool.yaml

- name: create first-pool-l2advertisement.yaml
  template:
    src: templates/first-pool-l2advertisement.yaml.j2
    dest: /tmp/metallb/first-pool-l2advertisement.yaml

- name: apply /tmp/metallb
  shell: |
    {{ bin_dir }}kubectl apply -f /tmp/metallb/.